<footer id="footer">
    <div class="content-hard">
        <div class="footer-blocks-wrp">
            <div class="black-block">
                <div class="property-wrp">
                    <p class="property">Телефоны:</p>
                    <p class="value">+7 926 819 16 44</p>
                    <p class="value">+7 926 815 07 01 </p>
                    <p class="value">+7 496 551 02 29</p>
                </div>
                <div class="property-wrp">
                    <p class="property">E-mail:</p>
                    <p class="value">investconsult.sp@gmail.com</p>
                </div>
                <div class="property-wrp">
                    <p class="property">Адрес:</p>
                    <p class="value">141300, Московская область,<br> г.&nbsp;Сергиев&nbsp;Посад,&nbsp;ул.&nbsp;Кооперативная,<br>д. 2, ТЦ "Мамонтовъ". 4 этаж</p>
                </div>
                <div class="soc-accs-wrp">
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-vk"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="gray-block">
                <p class="footer-title">Оставьте заявку, чтобы узнать возможность<br> и стоимость банкротства в вашем случае</p>
                <form action="">
                    <div class="form-wrp">
                        <input type="text" class="footer-form footer-input" placeholder="Имя для обращения" required>
                        <input type="tel" class="footer-form footer-input" placeholder="Телефон для консультации" required>
                    </div>
                    <textarea class="footer-form footer-textarea" name="name" placeholder="Несколько слов о Вашей ситуации"></textarea>
                    <div class="form-wrp">
                        <div class="checkbox-wrp">
                            <label class="checkbox">
                              <input type="checkbox" checked/>
                              <div class="checkbox__text">Я согласен с <a href="#">условиями</a> обработки персональных данных</div>
                            </label>
                        </div>
                        <div class="btn-main-wrp">
                            <input class="btn-main" type="submit" name="" value="отправить заявку">
                            <div class="btn-main-overlay"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="footer-bottom">
            <div class="logo-text-wrp">
                <div class="logo">
                    <span>и</span>
                    <span>к</span>
                </div>
                <div class="text-wrp">
                    <p>инвест</p>
                    <p>консалт</p>
                </div>
            </div>
            <div class="copyright-wrp">
                <p>© 2018 ООО ИнвестКонсалт All rights reserved</p>
                <p>Идея и разработка сайта - <a href="#">IT-Мастерская</a></p>
            </div>
        </div>
    </div>
</footer>
