<div class="main">
    <a class="to-next-block" href="#">
    </a>
    <section class="first-screen screen" >
        <div class="first-screen-content">
            <div class="first-screen-substrate">
                <div class="circles-wrp-overflow hide-down">
                    <div class="circles-wrp">
                        <div class="circles"></div>
                        <div class="circles2"></div>
                        <div class="circles3"></div>
                    </div>
                </div>
                <div class="wrp-for-animation">
                    <div class="text-animation">
                        <p class="subtitle"><span>ВИДЕО-РЕКЛАМА</span> В АПТеКАХ НА МОНИТОРАХ</p>
                    </div>
                    <div class="color-block"></div>
                </div>
                <div class="wrp-for-block">
                    <div class="wrp-for-animation">
                        <div class="text-animation">
                            <h1 class="title">Увеличьте продажи своего продукта в разы, <br>используя новую технологию сбора данных</h1>
                        </div>
                        <div class="color-block"></div>
                    </div>
                </div>
                <a class="request-quotation-btn get-first-popup" href="#">Запросить коммерческое предложение</a>
                <div class="first-screen-text-wrp">
                    <div class="wrp-for-animation">
                        <div class="first-screen-text left-side">
                            <div class="text-animation">
                                <p>Возможность прямо влиять на продажи</p>
                                <p>Точные данные для принятия решений</p>
                            </div>
                            <div class="color-block"></div>
                        </div>
                    </div>
                    <div class="wrp-for-animation">
                        <div class="first-screen-text right-side">
                            <div class="text-animation">
                                <p>Адаптация рекламы под аудиторию</p>
                                <p>Рост числа импульсных покупок</p>
                            </div>
                            <div class="color-block"></div>
                        </div>
                    </div>
                </div>
                <div class="mobile-block hide-down">
                    <div class="mobile-screen">
                        <div class="img-wrp-overflow">
                            <div class="img-wrp first-img-wrp">
                                <div class="mobile-screen-text-wrp">
                                    <p class="mobile-screen-text">Система сканирует посетителя:</p>
                                    <p>Девушка, 26 лет, в очках, <br>смотрит рекламу в течение 34 секунд</p>
                                </div>
                            </div>
                        </div>
                        <div class="resize">
                            <div class="img-wrp second-img-wrp">
                                <img src="../../build/img/main/img1.png" alt="Antes">
                                <div class="mobile-screen-text-wrp">
                                    <p class="mobile-screen-text">Посетитель смотрит рекламу</p>
                                </div>
                            </div>
                          </div>
                         <span class="handle">
                             <div class="handle-circle"></div>
                         </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="second-screen" class="second-screen screen" >
        <div class="left-section">
            <p class="supertitle">Что это такое<br>и как это работает?</p>
        </div>
        <div class="right-section">
            <div class="text-scroll-wrp">
                <div class="text-scroll">
                    <div class="text-wrp">
                        <p>Посетитель аптеки подходит к кассе. Что он делает в&nbsp;ожидании своей очереди? Начинает смотреть по сторонам. Разумеется, его внимание привлекает Ваша видеореклама, т.к. она транслируется на  большом LED экране прямо за спиной кассира и является самым ярким элементом</p>
                        <p>Среднее время просмотра одного ролика одним посетителем составляет 13,7 секунд. Это означает, что каждый ролик просматривается 1-2 раза.</p>
                        <p>Согласитесь, что количество людей, обративших внимание на листовку или рекламный плакатик намного меньше.</p>
                        <p>А теперь добавим то, что не только количество просмотров, но и&nbsp;эффективность любой видео рекламы в&nbsp;10 раз больше любой полиграфии.</p>
                        <p class="start-changing-title">Пока посетитель изучает Вашу рекламу, видеомонитор изучает и самого посетителя, и&nbsp;его поведение. Программа ведет учет и&nbsp;количества посетителей, и&nbsp;число обращений внимание на вашу рекламу, и&nbsp;время просмотра рекламы и&nbsp;даже настроение с которым они ее смотрели. Программа автоматически превращает статистику в&nbsp;удобные таблицы, из которых Вы узнаете обращали ли на Вашу рекламу мужчины или женщин, дети или пенсионеры, были ли на них очки или нет и&nbsp;многое другое.</p>
                        <p>Каждый месяц Вы сможете точно знать работает ли Ваша реклама или нет? Интересны ли Ваши видео ролики? Какую продукцию лучше рекламировать и&nbsp;размещать в данной аптеке? Вы узнаете, связано падение продаж с&nbsp;сезоном или качеством самой рекламы.</p>
                        <p>Теперь Вам не нужно принимать решение лишь на&nbsp;основании одного показателя: рост или падение продаж. Теперь у&nbsp;вас 100&nbsp;% владение информацией, а&nbsp;значит, и&nbsp;владение ситуацией.</p>
                    </div>
                </div>
                <div class="progress-container">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
        <div class="second-screen-title-wrp">
            <p class="title">Почему Ваши продажи сразу же <br>возрастают в 2-4 раза?</p>
            <p class="title">Почему эффективность Вашей рекламы<br>растет ежемесячно?</p>
        </div>

    </section>
    <section id="third-screen" class="third-screen screen">
        <div class="left-section">
            <div class="text-block">
                <div class="wrp-for-animation">
                    <div class="text-animation">
                        <div class="title">Ваша реклама будет в 15 раз эффективнее любой другой</div>
                    </div>
                    <div class="color-block"></div>
                </div>
                <p class="text">Мы решили сделать видеозапись, чтобы оценить количество посетителей аптеки, которые обращают внимание на экран рекламного монитора. А после сравнили это количество с&nbsp;числом тех, кто взял рекламную листовку</p>
                <div class="wrp-for-animation">
                    <div class="text-animation">
                        <p class="title-list">За один час в одной аптеке: </p>
                    </div>
                    <div class="color-block"></div>
                </div>
                <ul class="statistics-list">
                    <li><span>прошло <span class="yellow">100</span> посетителей</span></li>
                    <li><span>из них — <span class="yellow">80</span> обратили внимание на экран монитора</span></li>
                    <li><span>из них — <span class="yellow">30</span> досмотрели рекламный ролик до конца</span></li>
                </ul>
                <p>Моментальную покупку совершили <span class="yellow">10</span> человек.</p>
                <p class="totals">Конверсия просмотров видео-ролика составила 30% <br>из всех посетителей. Конверсия просмотра рекламных листовок составила 2%.</p>
            </div>
        </div>
        <div class="right-section">
            <div class="video-wrp">
                <div id="play"></div>
                <div class="poster-wrp">
                    <img class="poster" src="../../build/img/main/section-3.png" alt="">
                    <div class="right-section-gradient"></div>
                </div>
            </div>
            <div class="circles-wrp">
                <div class="circles"></div>
                <div class="circles2"></div>
                <div class="circles3"></div>
            </div>
            <div class="video-btn"></div>
        </div>
    </section>
    <section id="fourth-screen" class="fourth-screen screen">
        <div class="circles-wrp">
            <div class="circles"></div>
            <div class="circles2"></div>
            <div class="circles3"></div>
        </div>
        <div class="fourth-screen-content">
            <div class="contour">
                <div class="contour-inner"></div>
                <div class="contour-dot"></div>
                <div class="switch-crosses-wrp">
                    <div class="switch-cross switch-cross-1 active hide-down"></div>
                    <div class="switch-cross switch-cross-2 hide-down"></div>
                    <div class="switch-cross switch-cross-3 hide-down"></div>
                    <div class="switch-cross switch-cross-4 hide-down"></div>
                </div>
            </div>
            <div class="right-block">
                <p class="subtitle-slider"><span>После размещения рекламы</span> Вы получите:</p>
                <div class="card-block">
                    <div class="slides-wrp">
                        <div class="slide-block-content slide-block-content-1 active">
                            <p class="slide-title">Увеличение количества продаж в 2-4 раза</p>
                            <p class="slide-text">Большие и яркие мониторы в подходящем месте вынуждают просматривать Ваш ролик практически 85% посетителей аптеки. В то время, как рекламные буклеты пылятся на столиках, Ваша реклама работает, окупая вложения</p>
                        </div>
                        <div class="slide-block-content slide-block-content-2">
                            <p class="slide-title">2 zagolovok</p>
                            <p class="slide-text">Большие и яркие мониторы в подходящем месте вынуждают просматривать Ваш ролик практически 85% посетителей аптеки. В то время, как рекламные буклеты пылятся на столиках, Ваша реклама работает, окупая вложения</p>
                        </div>
                        <div class="slide-block-content slide-block-content-3">
                            <p class="slide-title">3 zagolovok</p>
                            <p class="slide-text">Большие и яркие мониторы в подходящем месте вынуждают просматривать Ваш ролик практически 85% посетителей аптеки. В то время, как рекламные буклеты пылятся на столиках, Ваша реклама работает, окупая вложения</p>
                        </div>
                        <div class="slide-block-content slide-block-content-4">
                            <p class="slide-title">4 zagolovok</p>
                            <p class="slide-text">Большие и яркие мониторы в подходящем месте вынуждают просматривать Ваш ролик практически 85% посетителей аптеки. В то время, как рекламные буклеты пылятся на столиках, Ваша реклама работает, окупая вложения</p>
                        </div>
                    </div>
                    <div class="btn-switch">ЕщЕ</div>
                </div>
            </div>
        </div>
    </section>
    <section id="fifth-screen" class="fifth-screen screen">
        <div class="circles-wrp">
            <div class="circles"></div>
            <div class="circles2"></div>
            <div class="circles3"></div>
        </div>
        <div class="fifth-screen-content">
            <div class="fifth-screen-left">
                <div class="wrp-for-animation">
                    <div class="first-screen-text right-side">
                        <div class="text-animation">
                            <p class="title">Какие данные,<br>собранные монитором,<br>позволят Вам улучшить<br>эффективность рекламы</p>
                        </div>
                        <div class="color-block"></div>
                    </div>
                </div>
                <div class="decor-wrp">
                    <div class="decor-block-1"></div>
                    <div class="decor-block-2"></div>
                    <div class="decor-block-3">
                        <div class="decor-column-wrp">
                            <div class="decor-column decor-column-1"></div>
                            <div class="decor-column decor-column-2"></div>
                            <div class="decor-column decor-column-3"></div>
                            <div class="decor-column decor-column-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fifth-screen-right">
                <div class="text-scroll-wrp">
                    <div class="text-scroll">
                        <div class="text-wrp">
                            <p class="fifth-screen-title">Количество просмотров вашей рекламы</p>
                            <p class="text">Вы узнаете действительно ли Ваш рекламный ролик привлекает внимание, или это сезонный наплыв посетителей</p>
                            <p class="fifth-screen-title">Процент женщин и мужчин</p>
                            <p class="text">Это позволит Вам определить что лучше рекламировать, <br> а также адаптировать идеи рекламного ролика под аудиторию</p>
                            <p class="fifth-screen-title">Эмоции посетителей при просмотре рекламы</p>
                            <p class="text">Эмоции зрителя демонстрирует интерес к рекламе. <br> Нейтральные или негативные эмоции говорят о том, что ролик не&nbsp;зацепил</p>
                            <p class="fifth-screen-title">Длительность просмотра ролика</p>
                            <p class="text">Вы сможете менять длительность, менять сюжет, добавлять динамики, если врем я просмотра сокращается. Также это позволит Вам отследить момент, когда реклама уже приелась <br> и ее стоит заменить.</p>
                        </div>
                    </div>
                    <div class="progress-container">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sixth-screen" class="sixth-screen screen">
        <div class="circles-wrp">
            <div class="circles"></div>
            <div class="circles2"></div>
            <div class="circles3"></div>
        </div>
        <div class="sixth-screen-content">
            <p class="sixth-screen-title">Уже оценили эффективность<br>рекламы на мониторах <span>«Smart»</span></p>
            <div class="clients-row-1">
                <div class="clients-item">
                    <img src="../../build/img/main/logo/schonen.png" alt="">
                </div>
                <div class="clients-item">
                    <img src="../../build/img/main/logo/pharmstandart.png" alt="">
                </div>
                <div class="clients-item">
                    <img src="../../build/img/main/logo/delta.png" alt="">
                </div>
            </div>
            <div class="clients-row-2">
                <div class="clients-item clients-item-4">
                    <img src="../../build/img/main/logo/orion.png" alt="">
                </div>
                <div class="clients-item clients-item-5">
                    <img src="../../build/img/main/logo/mayoly.png" alt="">
                </div>
            </div>
            <div class="btn-wrp">
                <div class="cost-btn">СКОЛЬКО ЭТО СТОИТ?</div>
            </div>
        </div>
    </section>
    <section id="seventh-screen" class="seventh-screen screen">
        <div class="circles-wrp">
            <div class="circles"></div>
            <div class="circles2"></div>
            <div class="circles3"></div>
        </div>
        <div class="seventh-screen-content">
            <div class="price-block">
                <p class="price-subtitle">СТАНДАРТНАЯ ЦЕНА 60 000 ₸ В МЕСЯЦ</p>
                <p class="price">30 000 ₸</p>
                <p>до 30-го сентября</p>
                <p class="price-text">Цена замораживается на весь год при заключении <br>договора до окончании акции</p>
            </div>
            <div class="right-block">
                <ul>
                    <li class="hide-down"><span>Ваш ролик покажут минимум 10 800 раз в месяц</span></li>
                    <li class="hide-down"><span>Вашу рекламу гарантированно посмотрит 85%&nbsp;посетителей</span></li>
                    <li class="hide-down"><span>Стоимость одного показа всего 2,7 ₸</span></li>
                </ul>
                <div class="btn-order get-first-popup hide-down">ОСТАВИТЬ ЗАЯВКУ</div>
            </div>
        </div>
    </section>
    <section id="eightth-screen" class="eightth-screen screen">
        <div class="eightth-screen-title-wrp">
            <p class="eightth-screen-title">Где Вы сможете разместить<br>рекламу своего товара?</p>
        </div>
        <div class="background-layer-content">
            <div class="background-layer">
                <div class="background-layer-gradient"></div>
                <div class="column-content-wrp">
                    <div class="column-content">
                        <p class="city">алматы</p>
                        <p class="market">ТРЦ «Mega» <br>Pharmacom</p>
                        <p class="address">ул. Розыбакиева, 247а</p>
                        <div class="hide-column-content">
                            <p><span>Охват:</span> 120 474 чел. в месяц</p>
                            <p><span>Показов:</span> 360 раз в день</p>
                            <p><span>Пол:</span> 32,6% мужчины и 67,4% женщины</p>
                            <p><span>Превалирующий тип:</span> молодые девушки от&nbsp;18 до 35 лет</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-layer">
                <div class="background-layer-gradient"></div>
                <div class="column-content-wrp">
                    <div class="column-content">
                        <p class="city">алматы</p>
                        <p class="market">ТЦ «Globus»<br>Pharmacom</p>
                        <p class="address">проспект Абая, 109в</p>
                        <div class="hide-column-content">
                            <p><span>Охват:</span> 120 474 чел. в месяц</p>
                            <p><span>Показов:</span> 360 раз в день</p>
                            <p><span>Пол:</span> 32,6% мужчины и 67,4% женщины</p>
                            <p><span>Превалирующий тип:</span> молодые девушки от&nbsp;18 до 35 лет</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-layer">
                <div class="background-layer-gradient"></div>
                <div class="column-content-wrp">
                    <div class="column-content">
                        <p class="city">алматы</p>
                        <p class="market">ТК «Magnum»<br>Pharmacom</p>
                        <p class="address">ул. Радостовца, 292</p>
                        <div class="hide-column-content">
                            <p><span>Охват:</span> 120 474 чел. в месяц</p>
                            <p><span>Показов:</span> 360 раз в день</p>
                            <p><span>Пол:</span> 32,6% мужчины и 67,4% женщины</p>
                            <p><span>Превалирующий тип:</span> молодые девушки от&nbsp;18 до 35 лет</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-layer">
                <div class="background-layer-gradient"></div>
                <div class="column-content-wrp">
                    <div class="column-content">
                        <p class="city">алматы</p>
                        <p class="market">ТК «Magnum»<br>Pharmacom</p>
                        <p class="address">мкр. Ак-булак, ул.АЗТМ, 273</p>
                        <div class="hide-column-content">
                            <p><span>Охват:</span> 120 474 чел. в месяц</p>
                            <p><span>Показов:</span> 360 раз в день</p>
                            <p><span>Пол:</span> 32,6% мужчины и 67,4% женщины</p>
                            <p><span>Превалирующий тип:</span> молодые девушки от&nbsp;18 до 35 лет</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-layer">
                <div class="background-layer-gradient"></div>
                <div class="column-content-wrp">
                    <div class="column-content">
                        <p class="city">алматы</p>
                        <p class="market">ТРЦ «Спутник»<br>Pharmacom</p>
                        <p class="address">мкр. Мамыр-1, 8А</p>
                        <div class="hide-column-content">
                            <p><span>Охват:</span> 120 474 чел. в месяц</p>
                            <p><span>Показов:</span> 360 раз в день</p>
                            <p><span>Пол:</span> 32,6% мужчины и 67,4% женщины</p>
                            <p><span>Превалирующий тип:</span> молодые девушки от&nbsp;18 до 35 лет</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-substrate hide-bottom-content"></div>
        <div class="bottom-content hide-bottom-content">
            <p class="bottom-title"><span>ДРУГИЕ АПТЕКИ, В КОТОРЫХ ИДЕТ ИНСТАЛЛЯЦИЯ LED-ЭКРАНОВ</span></p>
            <div class="rows-wrp">
                <div class="row">
                    <div class="address-block">
                        <p>Алматы: ТК «Magnum» Рыскулова,</p>
                        <p>пр. Рыскулова, ул. Д.Бедного, 3</p>
                    </div>
                    <div class="address-block">
                        <p>Алматы: ТРЦ “Ритц Палас”</p>
                        <p>Микрорайон Самал 3, 1</p>
                    </div>
                    <div class="address-block">
                        <p>Астана: ГМ «КЕНМАРТ»</p>
                        <p>трасса Астана-Караганда, 45</p>
                    </div>
                </div>
                <div class="row">
                    <div class="address-block">
                        <p>Алматы: ТРЦ «Almaty Mall»</p>
                        <p>мкр. Тепличный, 11 B/28</p>
                    </div>
                    <div class="address-block">
                        <p>Астана: ТРЦ «MEGA SILK WAY»</p>
                        <p>пр  Кабанбай батыр д 62</p>
                    </div>
                    <div class="address-block">
                        <p>Астана: ТРЦ «Сарыарка»</p>
                        <p>пр. Туран 24</p>
                    </div>
                </div>
                <div class="row">
                    <div class="address-block">
                        <p>Алматы: ТЦ “Мерей”</p>
                        <p>Проспект Суюнбая, 2 к8</p>
                    </div>
                    <div class="address-block">
                        <p>Астана: ТК «Magnum» Уалиханова </p>
                        <p>пр. Уалиханова, 20</p>
                    </div>
                    <div class="address-block">
                        <p>Астана: ТК «Magnum»</p>
                        <p>шоссе Алаш 23/1</p>
                    </div>
                </div>
            </div>
            <p class="hide-list"><span>Свернуть список</span></p>
        </div>
    </section>
    <section id="ninth-screen" class="ninth-screen screen">
        <div class="circles-wrp">
            <div class="circles"></div>
            <div class="circles2"></div>
            <div class="circles3"></div>
        </div>
        <div class="ninth-screen-content">
            <div class="left-block">
                <div class="wrp-for-animation">
                    <div class="text-animation">
                        <p class="ninth-screen-title">Сомневаетесь?<br>Тогда немного статистики</p>
                    </div>
                    <div class="color-block"></div>
                </div>
                <div class="block-for-next-animation">
                    <div class="wrp-for-animation">
                        <div class="text-animation">
                            <p class="ninth-screen-subtitle">717 400 просмотров</p>
                        </div>
                        <div class="color-block"></div>
                    </div>
                </div>
                <p class="ninth-screen-text">из 844 000 посетителей аптеки</p>
                <div class="wrp-for-animation">
                    <div class="text-animation">
                        <p class="ninth-screen-subtitle">х2 рост продаж</p>
                    </div>
                    <div class="color-block"></div>
                </div>
                <p class="ninth-screen-text">После размещения общее количество<br>продаж возрастет минимум вдвое</p>
            </div>
            <div class="right-block">
                <p>Каждый десятый человек совершит <br>импульсную покупку</p>
                <p>Вы будете пользоваться системой ведущего  мирового поставщика интерактивной рекламы с&nbsp;использованием технологии компьютерного зрения.</p>
                <p>Данная система ежемесячно анализирует более 1-го миллиарда людей в 80-ти странах.</p>
            </div>
        </div>
    </section>
    <section id="tenth-screen" class="tenth-screen screen">
        <div class="circles-wrp">
            <div class="circles"></div>
            <div class="circles2"></div>
            <div class="circles3"></div>
        </div>
        <div class="text-scroll-wrp">
            <div class="text-scroll">
                <div id="text-part-1" class="text-container text-container-1">
                    <div class="text-block">
                        <p>Что сделать для<br> принятия решения</p>
                        <ul class="container-list">
                            <li data-count="1">
                                <span>Оставить заявку</span>
                            </li>
                            <li data-count="2">
                                <span>Ответить на уточняющие вопросы нашего менеджера</span>
                            </li>
                            <li data-count="3">
                                <span>Согласовать удобное время для обсуждения<br>деталей Вашей задачи</span>
                            </li>
                            <li data-count="4">
                                <span>Получить коммерческое предложение, которое<br>мы подготовим и вышлем в течение суток</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="text-part-2" class="text-container text-container-2">
                    <div class="text-block">
                        <p>Контакты</p>
                        <ul class="container-list">
                            <li>
                                <span>г. Алматы, Проспект Назарбаева 124, офис 30</span>
                            </li>
                            <li>
                                <span>8 701 090 70 90</span>
                            </li>
                            <li>
                                <a href="mailto:adil.otarbaev@gmail.com">adil.otarbaev@gmail.com</a>
                            </li>
                        </ul>
                        <p>Мы в социальных сетях</p>
                        <ul class="acc-list">
                            <li>
                                <a href="#">
                                    <span data-hover="youtube">youtube</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span data-hover="FACEBOOK">FACEBOOK</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span data-hover="INSTAGRAM">INSTAGRAM</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="form-wrp">
                <form action="" class="tenth-screen-form">
                    <p class="form-title">Оставить заявку</p>
                    <div class="bottom-line">
                        <input class="format-input user-name" type="text" name="user-name" placeholder="Ваше имя">
                        <span></span>
                    </div>
                    <div class="bottom-line">
                        <input class="format-input user-phone" type="tel" name="user-phone" placeholder="Ваш телефон">
                        <span></span>
                    </div>
                    <div class="bottom-line">
                        <input class="format-input user-email" type="email" name="user-email" placeholder="Ваш e-mail">
                        <span></span>
                    </div>
                    <input class="send-order-btn get-second-popup" type="submit" name="" value="ОСТАВИТЬ ЗАЯВКУ">
                    <label class="checkbox">
                        <input type="checkbox" checked/>
                        <div class="checkbox__text">Я прочел (-ла) и принимаю<br>Соглашения Политик</div>
                    </label>
                </form>
                <div class="form-substrate"></div>
            </div>
        </div>
        <div class="copyright-wrp">
            <p>© 2018 «MEDIS»</p>
            <a href="https://www.itm55.com/">Создание сайта - IT-Мастерская</a>
        </div>
    </section>
</div>
<div class="menu-btn-wrp">
    <div class="menu-btn">
        <span></span>
        <span></span>
    </div>
    <div class="menu-btn-close">
        <span>ЗАКРЫТЬ</span>
    </div>
</div>
