<div class="pop-up-order-wrapper">
    <div class="pop-up-order">
        <p class="pop-up-title">Запросить коммерческое предложение</p>
        <p class="pop-up-incut">Оставьте свою  заявку. Мы свяжемся с Вами в ближайшее время и подготовим <br> индивидуальное коммерческое предложение для вашей компании</p>
        <div class="form-wrp">
            <form action="" class="tenth-screen-form">
                <div class="bottom-line">
                    <input class="format-input user-name" type="text" name="user-name" placeholder="Ваше имя">
                    <span></span>
                </div>
                <div class="bottom-line">
                    <input class="format-input user-phone" type="tel" name="user-phone" placeholder="Ваш телефон">
                    <span></span>
                </div>
                <div class="bottom-line">
                    <input class="format-input user-email" type="email" name="user-email" placeholder="Ваш e-mail">
                    <span></span>
                </div>
                <input class="send-order-btn get-second-popup" type="submit" name="" value="Запросить коммерческое предложение">
                <label class="checkbox">
                    <input type="checkbox" checked/>
                    <div class="checkbox__text">Нажимая на кнопку, Вы соглашаетесь с правилами <br>обработки персональных данных</div>
                </label>
            </form>
        </div>
    </div>
    <div class="pop-up-thnx">
        <p class="pop-up-title">Ваша заявка принята!</p>
        <p class="pop-up-incut">Мы свяжемся с Вами по указанному номеру телефона</p>
        <input class="thnx-btn pop-up-close" type="submit" name="" value="закрыть форму">
    </div>
</div>
