@import "reset";
@import "fonts";
@import "variables";
@import "customClasses";
@import "before-after";
@import "animation";
@import "header/header";
@import "header/headerMob";
@import "footer/footer";
@import "menu/menu";
@import "main/main-second-screen";
@import "main/main-third-screen";
@import "main/main-fourth-screen";
@import "main/main-fifth-screen";
@import "main/main-sixth-screen";
@import "main/main-seventh-screen";
@import "main/main-eightth-screen";
@import "main/main-ninth-screen";
@import "main/main-tenth-screen";
@import "main/main";
@import "main/mainMob";
@import "main/mainMob";
@import "popUp/popUp";


body {
    position: relative;
    font-family: 'Geometria';
    width: 100%;
    height: 100%;
    // overflow: hidden;
}
.desctop, .mobile {
    position: relative;
    display: none;
}
.desctop {
    width: 100%;
    overflow: hidden;
    color: $white;
    font-size: 14px;
    .pop-up-overlay-wrapper {
        z-index: 12;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 0;
        // overflow-y: auto;
        // -webkit-overflow-scrolling: touch;
    }
    &.open-pop-up {
        height: 100%;
        // overflow: auto;
        .pop-up-overlay-wrapper {
            height: 100%;
            .pop-up-order {
                display: block;
            }
        }
    }
}

.mobile {
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    color: #ffffff;
    .pop-up-overlay-wrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 15;
    }
    &.open-menu {
        height: 100%;
        // .pop-up-overlay-wrapper {
        //     display: block;
        // }
    }
}
.content-mob {
    position: relative;
    width: 100%;
    padding: 0 5vw;
    z-index: 2;
}


h1.title {
    font-family: 'Geometria-Bold';
    font-size: 28px;
}
p.text {
    line-height: 1.7;
}

/*MEDIA*/
@media (min-width: 1224px) {
    .desctop {
        display: block;
    }
}
@media screen and (max-width: 1223px) and (min-width: 320px) {
    .mobile {
        display: block;
    }
    @media (min-width: 768px) {
        .mobile {
            font-size: 16px;
        }
        .content-mob {
            padding: 0 5vw;
        }
        .header-mob {
            padding-top: 35px;
            .header-phone-mob {
                font-size: 16px;
            }
        }
        .main-mob {
            .first-screen-mob  {
                .content-mob {
                    .title-mob {
                        @include calc-heightMob(padding-top, 125);
                        font-size: 35px;
                        text-align: center;
                        line-height: 1.3;
                        @include calc-heightMob(margin-bottom, 35);
                    }
                    .incut {
                        width: 50%;
                        font-size: 20px;
                    }
                }
            }
            .btn-mob-request-offer {
                position: relative;
                left: 50%;
                margin-left: -175px;
                width: 350px;
            }
        }

    }
}
