<div class="header-mob-wrp">
    <div class="logo-text-wrp">
        <div class="logo">
            <span>и</span>
            <span>к</span>
        </div>
    </div>
    <div class="header-mob-phone-wrp">
        <p class="header-mob-phone">+7 926 819 16 44</p>
        <p class="header-mob-phone">+7 926 815 97 01</p>
    </div>
    <div class="menu-burger-mob"></div>
</div>

<div class="header-mob-wrp-fixed">
    <div class="header-mob-wrp">
        <div class="logo-text-wrp">
            <div class="logo">
                <span>и</span>
                <span>к</span>
            </div>
        </div>
        <div class="header-mob-phone-wrp">
            <p class="header-mob-phone">+7 926 819 16 44</p>
            <p class="header-mob-phone">+7 926 815 97 01</p>
        </div>
        <div class="menu-burger-mob"></div>
    </div>
</div>
